<footer class="footer bg_deco">
    <nav class="footer_nav section_pad_left_right m_auto">
        <a class="logo_row display_flex_row flex-start_center" href="index.html">
            <img class="logo" src="assets/icons/logo.png" alt="Logo">
            <h2 class="brand_name">Pokedex</h2>
        </a>
        <div class="policy_links display_flex_column center_center">
            <a href="imprint.html">Imprint</a>
            <a href="policy.html">Privacy Policy</a>
        </div>
    </nav>
</footer>