<header class="header_height bg_deco display_flex_row space-between_flex-end">
    <div class="header section_pad_left_right centering">
        <nav class="header_large display_flex_row space-between_center">
            <a class="logo_row display_flex_row center_center" href="index.html">
                <img class="logo" src="assets/icons/logo.png" alt="Logo">
                <h2 class="brand_name">Pokedex</h2>
            </a>
            <div class="policy_links display_flex_column center_center">
                <a href="imprint.html">Imprint</a>
                <a href="policy.html">Privacy Policy</a>
            </div>
            <div class="search_sector display_flex_row">
                <img class="loupe" src="assets/icons/magnifier.png" alt="Lupe">
                <input type="text" class="text_input_field" id="search_input_desktop" required
                    placeholder="3 letters for name" oninput="searchPokemon()">
            </div>
        </nav>
        <nav class="header_menu_mobile">
            <div class="mobile_header_div display_flex_row space-between_center">
                <a class="logo_row display_flex_row flex-start_center" href="index.html">
                    <img class="logo" src="assets/icons/logo.png" alt="Logo">
                    <h2 class="brand_name logo_text">Pokedex</h2>
                </a>
                <div class="policy_links display_flex_column center_center">
                    <a href="imprint.html">Imprint</a>
                    <a href="policy.html">Privacy Policy</a>
                </div>
                <button onclick="toggleRespMenu()">
                    <img class="bar_icon_img" src="assets/icons/menu-burger-horizontal.svg" alt="Menu">
                </button>
            </div>
            <div class="resp_menu_box display_flex_column center_center resp_menu_closed" id="resp_menu">
                <div class="search_sector display_flex_row flex-start_center">
                    <img class="loupe" src="assets/icons/magnifier.png" alt="Lupe">
                    <input type="text" class="text_input_field" id="search_input_mobile" required
                        placeholder="3 letters for name" oninput="searchPokemon()">
                </div>
                <button class="btn_resp_menu" onclick="toggleRespMenu()">
                    <span class="closing_sign">Close</span>
                </button>
            </div>
        </nav>
    </div>
</header>