.footer_nav {
    max-width: 1920px;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 1600px) {
    .footer_nav {
        height: 96px;
    }
}

@media (max-width: 500px) {
    .footer_nav {
        height: 80px;
    }
}

@media(max-width: 360px) {
    .logo_row {
        gap: 8px;
    }

    .brand_name {
        font-size: 20px;
    }
}