.imprint_policy {
    max-width: 1920px;
    color: white !important;
}

.h2_imprint_policy {
    text-align: left;
    word-wrap: break-word;
    color: white;
    padding-top: 32px;
}

.h3_imprint_policy {
    color: white;
}

p {
    text-align: justify;
    word-wrap: break-word;
    color: white;
}

strong {
    line-height: 150%;
    color: white;
}

.link_imprint_policy {
    color: white;
    word-wrap: break-all;
}

li {
    word-wrap: break-word;
    color: white;
}

em {
    color: white;
}

@media(max-width: 500px) {
    .link_imprint_policy {
        font-size: 14px;
    }

    ul {
        padding-left: 16px;
    }
}