.h2_imprint_policy {
    text-align: left;
    word-wrap: break-word;
    padding-top: 32px;
}

.h3_imprint_policy {
    font-weight: 500;
}

p {
    text-align: justify;
    word-wrap: break-word;
}

strong {
    line-height: 150%;
}

.link_imprint_policy {
    word-wrap: break-all;
}

li {
    word-wrap: break-word;
}

@media(max-width: 500px) {
    .link_imprint_policy {
        font-size: 14px;
    }

    ul {
        padding-left: 16px;
    }

    p {
        text-align: left;
    }
}