.min_height_of_website {
    min-height: calc(100vh - 112px - 120px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media (max-width: 1600px) {
    .min_height_of_website {
        min-height: calc(100vh - 96px * 2);
    }
}

@media (max-width: 1050px) {
    .min_height_of_website {
        min-height: calc(100vh - 80px - 112px);
    }
}

@media (max-width: 500px) {
    .min_height_of_website {
        min-height: calc(100vh - 80px * 2);
    }
}