* {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Raleway';
    font-size: 24px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: rgb(255, 255, 255);
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/raleway-v34-latin-regular.woff2') format('woff2');
}

html::-webkit-scrollbar {
    width: 12px;
}

html::-webkit-scrollbar-track {
    background: rgb(31, 41, 31);
}

html::-webkit-scrollbar-thumb {
    background: rgb(228, 31, 37);
    border-radius: 4px;
}

html::-webkit-scrollbar-thumb:hover {
    background: rgb(195, 26, 32);
}

.min_height_of_website {
    min-height: calc(100vh - 112px - 120px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.centering {
    margin: 0 auto;
}

.section_pad_left_right {
    padding-left: 160px;
    padding-right: 160px;
}

.bg_deco {
    background-color: rgb(0, 0, 0);
}

.img {
    border-radius: 8px;
    object-fit: cover;
}

.img:hover {
    cursor: pointer;
    transform: scale(1.08);
}

.btn {
    border: 3px solid whitesmoke;
    border-radius: 8px;
    background-color: rgb(31, 41, 31);
    padding: 12px 48px !important;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(62, 82, 62, 0.8);
    ;
    border: 3px solid rgb(90, 90, 91);
}

.btn_small {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: rgb(203, 203, 203);
    border-radius: 100%;
    border: 2px solid whitesmoke;
}

.btn_small>img {
    height: 36px;
    width: 36px;
    object-fit: contain;
}

.btn_small:hover {
    cursor: pointer;
    background: rgb(203, 203, 203);
    border-color: rgb(67, 67, 67);
    transform: scale(1.2);
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    cursor: pointer;
    color: rgb(228, 31, 37);
    font-weight: bold;
}

.text_input_field {
    color: rgb(0, 0, 0);
    border: unset;
    outline: none;
    border-radius: 12px;
    padding: 2px 8px;
}

form {
    border-radius: 8px;
    background: #EFEFEF;
    padding: 4%;
    width: 100%;
    filter: drop-shadow(0px 0px 16px rgba(0, 40, 44, 0.8));
}

.h2_form {
    color: black;
}

.btn_form {
    max-width: 200px;
    margin-left: calc(50% - 100px);
    text-align: center;
    padding: 12px 40px;
}

.display_flex {
    display: flex;
}

.display_flex_row {
    display: flex;
    flex-direction: row;
}

.display_flex_column {
    display: flex;
    flex-direction: column;
}

.display_flex_column_reverse {
    display: flex;
    flex-direction: column-reverse;
}

.center_center {
    justify-content: center;
    align-items: center;
}

.center_flex-start {
    justify-content: center;
    align-items: flex-start;
}

.center_flex-end {
    justify-content: center;
    align-items: flex-end;
}

.flex-end_center {
    justify-content: flex-end;
    align-items: center;
}

.flex-end_flex-start {
    justify-content: flex-end;
    align-items: flex-start;
}

.flex-start_flex-end {
    justify-content: flex-start;
    align-items: flex-end;
}

.flex-start_flex-start {
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-start_center {
    justify-content: flex-start;
    align-items: center;
}

.space-around_center {
    justify-content: space-around;
    align-items: center;
}

.space-between_center {
    justify-content: space-between;
    align-items: center;
}

.space-between_flex-end {
    justify-content: space-between;
    align-items: flex-end;
}

.space-between_flex-start {
    justify-content: space-between;
    align-items: flex-start;
}

@media(min-width: 1920px) {
    form {
        width: 1100px;
    }
}

@media(max-width: 1920px) {
    .h2_form {
        padding-top: 16px;
        padding-bottom: 32px;
    }
}

@media (max-width: 1600px) {
    .min_height_of_website {
        min-height: calc(100vh - 96px * 2);
    }

    .section_pad_left_right {
        padding-left: 120px;
        padding-right: 120px;
    }
}

@media(max-width: 1350px) {
    .section_pad_left_right {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media (max-width: 1144px) {
    .btn_small {
        height: 32px;
        width: 32px;
    }

    .btn_small>img {
        height: 28px;
        width: 28px;
    }
}

@media (max-width: 1050px) {
    .min_height_of_website {
        min-height: calc(100vh - 80px - 112px);
    }

    .section_pad_left_right {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media(max-width: 800px) {
    .section_pad_left_right {
        padding-left: 40px;
        padding-right: 40px;
    }

    form {
        width: 100% !important;
    }

    .h2_form {
        font-size: 24px;
        padding-bottom: 16px;
    }

    .btn_small {
        height: 24px;
        width: 24px;
        border: 2px solid whitesmoke;
    }

    .btn_small>img {
        height: 20px;
        width: 20px;
    }
}

@media(max-width: 520px) {
    .h2_form {
        font-size: 22px;
        padding-top: 8px;
        padding-bottom: 0;
    }

    .btn_form {
        padding: 8px 24px;
        margin-left: calc(50%-24px);
    }

    form {
        padding: 7%;
    }
}

@media(max-width: 650px) {
    .section_pad_left_right {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 500px) {
    .min_height_of_website {
        min-height: calc(100vh - 80px * 2);
    }
}

@media(max-width: 480px) {
    .section_pad_left_right {
        padding-left: 10px;
        padding-right: 10px;
    }

    .btn_form {
        display: flex;
        justify-content: center;
        font-size: 16px;
        padding: 4px 0 4px 0;
    }
}